body{
    background-color: #DCE2F0;
    color:#50586C ;
    font-family: 'Montserrat', sans-serif;
}

.formFieldWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../src/Assets/Register_BG_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mainFormWrap{
    background-color: #ffffff;
    border: 1px solid #50586C;
    border-radius: 10px;
    min-width: 590px;
    padding: 6%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mainHeading{
    color: #1b1b1b;
    text-align: center;
}
.inputWrap{
    display: flex;
    flex-direction: column;
}
.inputWrap label, .radioBtnWrapper label{
    color: #2F2F2F;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}
.radioBtnWrapper label{
    margin-bottom: 0px;
}
.formWrapper .inputWrap:nth-child(1) input,
.formWrapper .inputWrap:nth-child(2) input,
.formWrapper .inputWrap:nth-child(3) input{
    color: #2F2F2F;
    border-radius: 10px;
    border: 1px solid #2F2F2F;
    font-size: 14px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.formWrapper , .radioBtnWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formWrapper input{
  height:20px;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
}
.ageInputWrap{
    display: flex;
    align-items: center;
}
.ageInputWrap label{
    margin-bottom: 0;
}
.ageInputWrap input{
    margin-right: 5px;
}
.radioWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.radioWrap span:nth-child(2){
    margin: 0px 15px;
}
.radioWrap input{
    border-radius: 10px;
    border: 1px solid #2F2F2F;
    background-color: #e4f2ff;
    cursor: pointer;
}
.radioBtnWrap{
    display: flex;
}
.option{
    color: #2F2F2F;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #2F2F2F;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 10px;
    outline: none;
}
.btn{
   width: 100px !important;
   align-self: center;
   text-align: center;
   height: 50px !important;
   border-radius: 15px;
   border: 1px solid #2F2F2F;
   background-color: #424242;
   color:#F9F9F9 ;
   cursor: pointer;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: 600;
   min-width: 150px;
}
.errorText{
    color: red;
    font-size: 15px;
    margin: 0;
}
.displayNone{
    opacity: 0;
    color: red;
    margin-top: 10px;
    min-height: 20px;
}
.displayBlock{
  min-height: 20px;
  color: red;
  opacity: 1;
  margin-top: 10px;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}
@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
  }
